In [50]:
# Given exhange rates 
eur_usd = 1.1601  # Euro / US Dollar
usd_cyn = 6.4357  # US Dollar / Yuan
usd_jpy = 114.22  # US Dollar/ Japanese Yen
usd_zar = 14.603  # US Dollar/South African Rand
usd_inr = 75.259  # US Dollar/ Indian Rupee

## Computing required spot rates

In [37]:
spot_rate = dict()

spot_rate["EUR_CNY"] = eur_usd * usd_cyn
spot_rate["ZAR_JPY"] = usd_jpy / usd_zar
spot_rate["CNY_INR"] = usd_inr / usd_cyn
spot_rate["INR_JPY"] = usd_jpy / usd_inr
spot_rate["ZAR_INR"] = usd_inr / usd_zar
spot_rate["EUR_ZAR"] =  eur_usd * usd_zar
spot_rate["CNY_ZAR"] = usd_zar/usd_cyn


for k,v in spot_rate.items():
  print(f"Spot Rate for {k} is {v}")

Spot Rate for EUR_CNY is 7.466055569999999
Spot Rate for ZAR_JPY is 7.821680476614394
Spot Rate for CNY_INR is 11.69398822194944
Spot Rate for INR_JPY is 1.5176922361445142
Spot Rate for ZAR_INR is 5.153667054714785
Spot Rate for EUR_ZAR is 16.940940299999998
Spot Rate for CNY_ZAR is 2.269061640536383

## Computing 1 year forwards

$$ \frac{1 + r_2}{1 + r_1}\times spot\_rate $$

In [48]:
# Given
i_rates_1y = {"EUR":-0.004830,"CNY":0.0241, "JPY":-0.00015,"INR":0.0405,"ZAR":0.043680}

In [49]:
forward_1y = dict()
for k,s_rate in spot_rate.items():
  r_1 = i_rates_1y[k[0:k.index("_")]]
  r_2 = i_rates_1y[k[k.index("_")+1:]]
  forward_1y[k] = ((1 + r_2)/(1 + r_1))*s_rate
  print(f"1 year Forward for {k.upper()} is {forward_1y[k]}")

1 year Forward for EUR_CNY is 7.683096867105117
1 year Forward for ZAR_JPY is 7.493204070733273
1 year Forward for CNY_INR is 11.88125646415232
1 year Forward for INR_JPY is 1.4583994063518428
1 year Forward for ZAR_INR is 5.137964290233342
1 year Forward for EUR_ZAR is 17.766733897026636
1 year Forward for CNY_ZAR is 2.3124443442974436

## Computing 2 year forwards

$$ \frac{(1 + r_2)^2}{(1 + r_1)^2}\times spot\_rate $$

In [43]:
# Given
i_rates_2y = {"EUR":-0.003907,"CNY":0.0246, "JPY":0.000088,"INR":0.0452,"ZAR":0.05180}

In [46]:
forward_2y = dict()
for k,s_rate in spot_rate.items():
  r_1 = i_rates_2y[k[0:k.index("_")]]
  r_2 = i_rates_2y[k[k.index("_")+1:]]
  forward_2y[k] = ((1 + r_2)**2/(1 + r_1)**2)*s_rate
  print(f"2 year Forward for {k.upper()} is {forward_2y[k]}")

2 year Forward for EUR_CNY is 7.899509848947298
2 year Forward for ZAR_JPY is 7.0714776018385415
2 year Forward for CNY_INR is 12.168940037321438
2 year Forward for INR_JPY is 1.3895089319540952
2 year Forward for ZAR_INR is 5.089191900259164
2 year Forward for EUR_ZAR is 18.88878697444569
2 year Forward for CNY_ZAR is 2.3911340495338256

## Displaying the Final Results

In [42]:
import pandas as pd
l = {"Spot Rate":spot_rate, "1_Year_Forward":forward_1y,"2_Year_Forward": forward_2y}
df = pd.DataFrame.from_dict(l,orient="columns")
df

         Spot Rate  1_Year_Forward  2_Year_Forward
EUR_CNY   7.466056        7.683097        7.899510
ZAR_JPY   7.821680        7.493204        7.071478
CNY_INR  11.693988       11.881256       12.168940
INR_JPY   1.517692        1.458399        1.389509
ZAR_INR   5.153667        5.137964        5.089192
EUR_ZAR  16.940940       17.766734       18.888787
CNY_ZAR   2.269062        2.312444        2.391134

##  Generalized Function for n-year forward

In [61]:
def n_y_forward(spot_rate:dict,i_rate_iy:dict,n:int) -> dict:
  """
  Function to compute the n year forward given the spot rate and corresponding interest rate for n years
  """
  forward_ny = dict()
  for k,s_rate in spot_rate.items():
    r_1 = i_rate_iy[k[0:k.index("_")]]
    r_2 = i_rate_iy[k[k.index("_")+1:]]
    forward_ny[k] = ((1 + r_2)**n/(1 + r_1)**n)*s_rate
  return forward_ny

In [62]:
# Testing our function
forward_1_year = n_y_forward(spot_rate, i_rates_1y, 1)
for k,v in forward_1_year.items():
  print(f"1 year forward for {k} is {v}")

1 year forward for EUR_CNY is 7.683096867105117
1 year forward for ZAR_JPY is 7.493204070733273
1 year forward for CNY_INR is 11.88125646415232
1 year forward for INR_JPY is 1.4583994063518428
1 year forward for ZAR_INR is 5.137964290233342
1 year forward for EUR_ZAR is 17.766733897026636
1 year forward for CNY_ZAR is 2.3124443442974436